/* app css stylesheet */

/*
* multi-line comment
*/


/*--------page Color---------------*/
.element {
  width: 100%;
  /*height: 100%;*/
  margin-top:0px;
  margin-bottom:0px;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #FF4136;
  }
  100% {
    background-color: #20B2AA;
  }
}

/*html,
body {
    height: 100%;
}*/

html {
    height: 100%;
}

/*--------menu-1 --original---------------*/
/* basic menu styles */
.block-menu {
	display: block;
	background: #000;
    margin-bottom: 0px !important;
    position: relative;
}

.block-menu li {
	display: inline-block;
}

.block-menu li a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-family: 'Passion One', Arial, sans-serif;
	font-smoothing: antialiased;
	text-transform: uppercase;
	overflow: visible;
	line-height: 20px;
	font-size: 14px;
	padding: 15px 10px;
}

/* animation domination */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
	/* complete the animation! */
	.three-d:hover .three-d-box, 
	.three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}

.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

/* 
	put the "front" and "back" elements into place with CSS transforms, 
	specifically translation and translatez
*/
.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	padding: 15px 10px;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

/*---------Galleria------------*/
.galleria {
  width: 100%;
  color:00FA9A;
  height: 30%;
  background-color: white;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
}
#gtitle{
	background-color: white;
	color:00FA9A;
	margin-top:2%;
	width: 100%;
	height: 10%;
}

html, body {margin:0px; padding: 0px;}

nav {
    background-color: #34495e;
    height: 80px;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 999;
}



.wrappersections {
   text-align: center;
   margin-top: 0px;
}

.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 50%;
    margin: 0px;
    height: 400px;
    /*border: px solid blue;*/
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.responsive-parent {
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.child a {
    display: none;
    font-size: 14px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    /*top: 0;*/
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    padding-bottom: 20%
    /*text-decoration: none;*/
}

a:hover, a:active {
    text-decoration: none !important;
}

.responsive-parent:hover .child, .parent:hover .child, .responsive-parent:focus .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.responsive-parent:hover .child:before, .responsive-parent:focus .child:before, .parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.responsive-parent:hover a, .responsive-parent:focus a, .parent:hover a, .parent:focus a {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    /*position: absolute;*/
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
        .wrappergalleria {padding: 20px 20px;}
}


.hello {display: none}

/*-----------===Logo Effect coloured--------------------*/
body{}



/*---------fotterp----------*/

.footerp{
    background-color: black;
    margin-top:10%;
    width: 100%;
    height: 30%;
    text-align: left;
    font-family: 'Passion One', Arial, sans-serif;
}

#fottercontent{
    background-color: #0A0401;
    color:white;
    font-family: 'Passion One', Arial, sans-serif;
    font-weight: 500;
    padding-top:100px;
    width: 100%;
    height: 10%;
}

.turn-off-block-display {
    display: inline-block !important;
}

.remove-horizontal-margin {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.right-side {
    position: absolute;
    right: 2%;
    color: #fff;
    display: block;
    text-decoration: none;
    font-family: 'Passion One', Arial, sans-serif;
    font-smoothing: antialiased;
    text-transform: uppercase;
    overflow: visible;
    line-height: 20px;
    font-size: 14px;
    padding: 15px 20px;
    cursor: pointer;
}

.search-box {
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 25px;
}

.search-box label {
    font-size: 15px;
    font-family: sans-serif;
    color: floralwhite;
    width: 60%;
}

.search-box input {
    width: 70%;
    font-size: 14px;
    font-family: sans-serif;
    color: darkgray;
    border-radius: 10px;
    padding-left: 5px;
    border: 0;
}

.preview-none {
    display: none;
}

.preview-block {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.close-preview {
    position: absolute;
    top: 0;
    right: 5px;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: normal;
    transition: 0.3s;
    z-index: 1001;
}

.close-preview:hover,
.close-preview:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-preview {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 700px;
}

.transform-to-zero {
    transform: scale(0);
}

.transform-to-one {
    transform: scale(1);
}

#caption {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
}



@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){

}

.add-bottom-margin {
    margin-bottom: 15px;
}

.adjust-search-glyphicon {
    text-align: right;
    padding: 10px 0 !important;
}

@media (min-width: 1200px)
.container {
    max-width: 100% !important;
}
@media (min-width: 992px)
.container {
    max-width: 100% !important;
}
@media (min-width: 768px)
.container {
    max-width: 100% !important;
}

/*@media only screen and (max-width: 480px) {
    .block-menu {
            padding-right: 0px !important;
            padding-left: 0px !important;
        }
}*/

@media only screen and (max-width: 590px) {
    .search-area {
        font-size: 11px !important;
        width: 30% !important;
    }
    
    .block-menu {
        padding-right: 0px !important;
        padding-left: 0px !important;
    } 
    
    .align-right {
        right: 10%;
    }
    
    .right-side {
        right: 0%;
    }
    .menu-items {
        font-size: 11px !important;
        padding: 15px 5px !important;
    }
}

@media only screen and (max-width: 336px) {
    .menu-items {
            font-size: 8px !important;
            padding: 15px 5px !important;
        }
    
    .search-area {
        font-size: 8px !important;
    }
}

.adjust-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}



.background-adjustment {
    background: #000;
}

.remove-vertical-margin {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

#searchBox {
    background: #000 !important;
    border-style: none !important;
    border-radius: 0px !important;
    height: 20px !important;
    cursor: pointer !important;
}

.adjust-search-gyphicon {
    color: #fff !important;
    background: #000 !important;
    line-height: 26px !important;
    height: 20px !important;
    width: 20px !important;
    z-index: 1 !important;
}

img.img-fade-animation {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out; 
}

img.img-fade-animation:hover {
    opacity: 0.2;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out; 
}



.a-adjustment {
    font-size: 35px !important;
}

img.logo-adjustment {
    transform: scale(0.9);
}

.align-right {
    position: absolute;
    right: 10%;
    bottom: 5%;
}

.adjust-jumbotron {
    background-color: #fff !important;
    color: gray !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    text-align: center;
    opacity: 0.9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    width: 100%;
}

.punchline {
    background-color: transparent !important;
    text-align: center !important;
    color: #fff !important;
    margin-bottom: 0px !important;
}

.adjust-nav {
    height: auto !important;
}

.adjust-padding {
    padding-top: 50px !important;
}

.adjust-top-padding {
    padding-top: 50px !important;
}

span.slider-left-adjustment {
    font-size: 20px;
    position: absolute !important;
    display: block !important;
    z-index: 1000 !important;
    cursor: pointer;
    color: #fff;
    top: 50%;
    bottom: 50%;
    left: 0;
}

span.slider-right-adjustment {
    font-size: 20px;
    position: absolute !important;
    display: block !important;
    z-index: 1000 !important;
    cursor: pointer;
    color: #fff;
    top: 50%;
    bottom: 50%;
    right: 0;
}

div.preview-block:focus {
    outline: none;
}

.slider-animation {
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

/* Fading animation */
.fade-slide {
  -webkit-animation-name: fade-slide;
  -webkit-animation-duration: 1.5s;
  animation-name: fade-slide;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade-slide {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade-slide {
  from {opacity: .4} 
  to {opacity: 1}
}

.hide-slide {
    display: none !important;
}

.show-slide {
    display: block !important;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0;
}
#login-dp .social-buttons a{
    width: 49%;
    position: relative !important;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
/*#login-nav a, .bottom a{
    font-size: 16px !mportant;
    display: inline !mportant;
    color: #337ab7 !mportant;
    text-decoration: none !mportant;
    background-color: transparent !mportant;
    position: relative;
}*/
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media (min-width: 993px){
.center-container {
    margin: 10% 35% !important;
    }
}
@media (max-width: 992px){
.center-container {
    margin: 15% 10% !important;
    }
}
@media(max-width:768px){
.center-container {
    margin: 10% 0 !important;
    }
}
.logo-punchline {
    color: white;
    font-size: 30px;
    text-align: center;
}

.fb-login-custom-style {
    background-color: #4267B2;
}

.social-custom-style {
    text-align: center;
}

.adjust-dropdown-menu {
    left: -100% !important;
}

.adjust-hyperlink {
    color: white;
}

.login-cover {
    /* The image used */
    background: url('../images/bike.jpg') no-repeat center center fixed;

    /* Create the parallax scrolling effect */
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.no-cover {
    background: #000 no-repeat center center fixed;
}

.error-cover {
    /* The image used */
    background: url('../images/vintagecar.jpg') no-repeat center center fixed;

    /* Create the parallax scrolling effect */
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.profile-cover {
    /* The image used */
    background: url('../images/bike.jpg') no-repeat center center fixed;

    /* Create the parallax scrolling effect */
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.create-cover {
    /* The image used */
    background: url('../images/exmachinia.jpg') no-repeat center center fixed;

    /* Create the parallax scrolling effect */
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.transparent-body {
    background: transparent no-repeat center center fixed;
}
.center-align-hor-vert {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.apply-color {
    background-color: rgba(0, 0, 0, 0.48) !important;
    color: #fff;
    border-color: transparent !important;
    text-align: center;
}

.adjust-size-logo {
    background-color: transparent !important;
    width: 50%;
}

.fb-type-style {
    background: #4267B2 !important;
    border-color: transparent !important;
    color: white !important;
    position: relative;
}

.adjust-fb-logo {
    width: 10% !important;
}

.center-align-vert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.adjust-profile-display {
    width: 15%;
}
