<div class="background-adjustment adjust-top-padding">
    <div class="wrappergalleria">
        <div class="row remove-horizontal-margin">
            <div ng-repeat="item in inventory | filter:sharedObj.search" class="col-xs-12 col-sm-6 col-md-3 responsive-parent" ng-click="preview($index)">
                <div class="child">
                    <img class="img-responsive turn-off-block-display img-fade-animation" src="{{item.url}}">
                    <a data-target="#">{{item.caption}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="preview-{{previewClass}}" tabindex="2" ng-keydown="key($event)">
        <span class="close-preview" ng-click="closePreview()">x</span>        
        <span class="glyphicon glyphicon-menu-left slider-left-adjustment" ng-mousedown="previousSlide()"></span>
        <span class="glyphicon glyphicon-menu-right slider-right-adjustment" ng-mousedown="nextSlide()"></span>
        <div ng-repeat="slideItem in inventory"  ng-class="($index === currentIndex) ? 'show-slide' : 'hide-slide'">
            <img class="modal-preview fade-slide"src="{{slideItem.url}}">
            <div id="caption">{{slideItem.caption}}</div>
        </div>
    </div>
</div>