<div class="element adjust-top-padding">
    <div>
        <img src="images/redcrafts-logo.png" id="logo" class="img-responsive logo-adjustment center-block"> 
        <p class="logo-punchline">Magic happens when you express</p>
        <div class="jumbotron punchline">
            <!--<h1>Where magic happens</h1>-->
            <h1><a href="#homepanel" class="glyphicon glyphicon-menu-down adjust-hyperlink" smooth-scroll></a></h1>
        </div>
    </div>
</div>
<div id="homepanel" class="jumbotron">
    <div ng-repeat="item in inventory" class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 thumbnail" ng-click="redirectToPath(item)">
                <img class="img-fade-animation" src="{{item.url}}" alt="{{item.caption}}">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <h1>{{item.caption}}</h1>
                <p>{{item.description}}</p>
                <p>
                    <button class="btn btn-primary" ng-click="redirectToPath(item)">Go to {{item.caption}}</button>
                </p>
            </div>
        </div>
    </div>
    <div class="social-custom-style">
        <div class="fb-like" data-href="https://www.facebook.com/pg/RedCrafts-648527688523329" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false">
        </div>
        <div class="fb-share-button" data-href="https://www.facebook.com/pg/RedCrafts-648527688523329" data-layout="button_count" data-size="large" data-mobile-iframe="true">
            <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fpg%2FRedCrafts-648527688523329&amp;src=sdkpreparse">Share</a>
        </div>
    </div>
</div>




