<nav class="adjust-nav" data-spy="affix">
    <ul class="block-menu">
        <li>
            <div class="brand-menu-container">
                <img alt="RedCrafts" src="images/redcraftsbrand.png" class="img-responsive brand-menu">  
            </div>
        </li>
        <li ng-repeat="menuItem in menuItems">
            <a ng-href="#!/{{menuItem.title | lowercase}}" class="three-d menu-items">
            {{menuItem.title}}
            <span aria-hidden="true" class="three-d-box">
                <span class="front">{{menuItem.title}}</span>
                <span class="back">{{menuItem.title}}</span>
            </span>
            </a>
        </li>
        <li class="search-area align-right">
            <div class="form-group has-feedback">
                <input type="text" id="searchBox" class="form-control glyphicon glyphicon-search" ng-model="sharedObj.search" ng-change="redirectToPath()" placeholder="Search">
                <span class="glyphicon glyphicon-search form-control-feedback adjust-search-gyphicon"></span>
            </div>
        </li>
        <li class="right-side menu-items">
            <i class="glyphicon glyphicon-log-in" ng-if="$root.loginStatus.status != 'connected'" ng-click="redirectToLogin()"></i>
            <i class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown" ng-if="$root.loginStatus.status === 'connected'">
                <span class="caret"></span>
            </i>
            <ul class="dropdown-menu dropdown-menu-right">
                <!-- dropdown menu links -->
                <li><a tabindex="-1" ng-href="#!/profile">Your Profile</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" ng-click="logout()">Log out</a></li>
            </ul>
        </li>
    </ul>
</nav>