<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 center-align-hor-vert adjust-top-margin">
    <div class="panel panel-default apply-color">
        <!-- Default panel contents -->
        <div class="panel-body">
            <img src="{{fbProfilePic}}" class="img-responsive center-block img-circle adjust-profile-display"><br>
            <h2>Hi! {{firstName}}</h2><br>
            <h4>Are you ready to experience the ride?</h4>
            <p>Watch out for more social happenings</p>
            <div class="fb-page" data-href="https://www.facebook.com/pg/RedCrafts-648527688523329" data-tabs="timeline" data-height="210" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/pg/RedCrafts-648527688523329" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/pg/RedCrafts-648527688523329">RedCrafts</a></blockquote></div>
        </div>
    </div>
</div>