<div>
  <ul class="block-menu">
    <li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
      <a ng-href="#!/{{pane.title | lowercase}}" ng-click="select(pane)" class="three-d">
      {{pane.title}}
      <span aria-hidden="true" class="three-d-box">
         <span class="front">{{pane.title}}</span>
         <span class="back">{{pane.title}}</span>
      </span>
      </a>
    </li>
  </ul>
  <div class="tab-content" ng-transclude></div>
</div>

<!--To use tabs, put this template in your HTML

<tabs>
    <pane Title="Tab 1">
        This is content for Tab 1.
        <p>Look! It supports HTML tags as well</p>
    </pane>
    <pane Title="Tab 2">
        This is content for Tab 2.
        <p>Look! It supports HTML tags as well</p>
    </pane>
</tabs>

-->